<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <script src="https://kit.fontawesome.com/f3ca4af96f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Redsomke</title>
</head>
<body onload="showBody()" > 
    <h1 class="title">
        <img class="logo" src="logo.png">
        RedSmoke
    </h1>
    <div class="create-div">
        <button class="blue-btn create">
            <i class="icon fas fa-plus-square fa-2x"></i>
            <h2 class="text"><a href="/makeRoom">Create Room</a></h2>
        </button>
    </div>
    <div class="join-div">
        <button class="blue-btn join">
            <i class="icon fas fa-sign-in-alt fa-2x"></i>
            <h2 class="text small">Join Room</h2>
        </button>
    </div>
    <script src="home.js"></script>
</body>
</html>