* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #131b21;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.title {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 5px 0;
}
.logo {
  transform: translateY(8%);
}

/* for styling videos */

@media screen and (max-width: 700px) {
  .video-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 20vh;
    right: 10.3vw;
  }
  .video-grid video {
    width: 100%;
    border-radius: 10px;
  }
  .max video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .max {
    width: 80vw;
    height: 83vh;
    position: fixed;
    border-radius: 10px;
    top: 11vh;
    left: 10vw;
    z-index: -1;
    overflow: hidden;
  }
  .min {
    width: 25vw;
    margin: 0 2vw;
  }
}
@media screen and (min-width: 700px) {
  .video-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 8vh;
    right: 10.3vw;
  }
  .video-grid video {
    width: 100%;
    border-radius: 10px;
  }
  .max {
    width: 80vw;
    height: 83vh;
    position: fixed;
    border-radius: 10px;
    top: 12vh;
    left: 10vw;
    z-index: -1;
    overflow-y: hidden;
  }
  .min {
    width: 15vw;
    margin: 0 2vw;
  }
}

/* for toolbar buttons */
.toolbar {
  position: fixed;
  bottom: 8vh;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar button {
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0 8px;
  background-color: rgb(31, 168, 168);
  cursor: pointer;
}
.icon {
  color: white;
  font-size: 1.2rem;
}
.toolbar .end {
  background-color: rgb(255, 28, 28);
}

/* for chat division */
.chat-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.459);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.chat-container {
  height: 50vh;
  width: 40vw;
  background-color: whitesmoke;
  position: relative;
}
.head {
  height: 6vh;
  width: 100%;
  background-color: rgb(143, 204, 103);
}
.cross {
  position: absolute;
  top: 0;
  right: 0;
  height: 6vh;
  width: 4vw;
  border: none;
  outline: none;
  font-size: 1.25rem;
  padding: 2px 4px;
  background-color: rgb(255, 28, 28);
  color: white;
  cursor: pointer;
}
.header {
  color: whitesmoke;
  position: absolute;
  top: 1vh;
  left: 1vw;
}
#msg-inp {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  border: 1px solid rgb(228, 228, 228);
  outline: none;
  padding: 10px;
}
.chat {
  list-style: none;
  width: 100%;
  height: 40vh;
  overflow-y: scroll;
}
.chat li {
  width: 100%;
  margin-top: 10px;
  padding: 0 10px 0 1vw;
}

.chat-others {
  text-align: left;
}
.chat-others .outer_div {
  display: inline-block;
  padding: 3px 20px 3px 10px;
  background-color: rgb(194, 194, 194);
  color: rgb(27, 27, 27);
  border-radius: 10px;
}
.chat-others .outer_div .name_div {
  color: rgb(41, 41, 41);
  font-size: 0.9rem;
}

.chat-me {
  text-align: right;
}
.chat-me .outer_div {
  display: inline-block;
  padding: 3px 10px 3px 20px;
  background-color: steelblue;
  color: white;
  border-radius: 10px;
}
.chat-me .outer_div .name_div {
  color: rgb(209, 209, 209);
  font-size: 0.9rem;
}
